<a id="footer_contacts"></a>
<section id="contacts" class="contacts-section">
    <div class="contacts__inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-12">
                    <div class="contacts">
                        <h2 class="contacts__heading">Контакты</h2>
                        <ul class="contacts">
                            <li class="contacts__item">
                                <div class="contacts__icon">
                                    <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
                                </div>
                                <div class="contacts__info">

                                    {% if (phone is defined and phone is not null) and (address is defined and address is not null) %}
                                    <p style="line-height: .5">{{ address }}</p>
                                        <p style="line-height: .5"> <span class="phone-number"><a href="tel:{{ phone.value }}">{{ phone.title }}</a></span></p>
                                    {% endif %}

                                </div>
                            </li>
                            <li class="contacts__item">
                                <div class="contacts__icon">
                                    <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
                                </div>
                                <div class="contacts__info">
                                    {% if (phone2 is defined and phone2 is not null) and (address2 is defined and address2 is not null) %}
                                        <p style="line-height: .5">{{ address2 }}</p>
                                        <p style="line-height: .5"> <span class="phone-number"><a href="tel:{{ phone2.value }}">{{ phone2.title }}</a></span></p>
                                    {% endif %}

                                </div>
                            </li>
                            <li class="contacts__item">
                                <div class="contacts__icon">
                                    <i class="fas fa-envelope" aria-hidden="true"></i>
                                </div>
                                <div class="contacts__info">
                                    <h6 class="contact__heading">E-mail</h6>
                                    <a href="mailto:info@piksp.ru">vrn@acpik.ru</a>
                                </div>
                            </li>
                            <li class="contacts__item">
                                <div class="contacts__icon">
                                    <i class="far fa-calendar-alt" aria-hidden="true"></i>
                                </div>
                                <div class="contacts__info">
                                    <h6 class="contact__heading">Режим работы</h6>
                                    <p>Ежедневно <br>
                                        с 09:00 до 21:00</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <div id="picsp_map" class="contacts__map">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A16bb8134eb25eb065fd4854d353714dda57f5efbbc8e75ee10a34aef916f1624&amp;width=100%25&amp;height=577&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>

    </div>
</section>