{# Меню при скролее #}
<div class="container-fluid container_nav__fixed">

    <div class="col-1">
        <div class="btn-mobile-menu d-flex justify-content-start">
            <a data-bs-toggle="offcanvas" class="offcanvas__burger" href="#offcanvasMenu" role="button" aria-controls="offcanvasMenu">
                ☰
            </a>

            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
                <div class="offcanvas-header">
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">X</button>
                </div>
                <div class="offcanvas-body">
                    <div>
                        <ul class="uk-nav uk-nav-default uk-nav-parent-icon mobile-menu__ul" data-uk-nav="multiple: true">
                            {% for leftMenu_item in leftMenu %}
                                <li><a href="{{ leftMenu_item.link.path }}">{{ leftMenu_item.name }}</a></li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
            </div>
        </div>




    </div>
    <div class="header__intermediate-wrapper">
        <div class="header__logo">
            {% if logo is defined and logo is not null %}
            <a href="/"><img src="/img/brands/logo/{{ logo }}" alt="ПИК" width="199" height="44"></a>
            {% else %}
            <a href="/"><img src="/img/lexus/logo.png" alt="ПИК" width="199" height="44"></a>
            {% endif %}
        </div>
        <span class="nav__description">Специализированный <br>
            автосервис <span class="nav__description_red">MERCEDES</span>
            </span>

        {% if (phone is defined and phone is not null) and (address is defined and address is not null) %}
            <div class="nav__address">
                <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
                <div>
                    {{ address }}<br>
                    <a style="display: block" href="tel:{{ phone.value }}">
                        {{ phone.title }}
                    </a>
                </div>
            </div>
        {% endif %}
        {% if (phone2 is defined and phone2 is not null) and (address2 is defined and address2 is not null) %}
            <div class="nav__address">
                <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
                <div>
                    {{ address2 }}<br>
                    <a style="display: block" href="tel:{{ phone2.value }}">
                        {{ phone2.title }}
                    </a>
                </div>
            </div>
        {% endif %}

        <div class="nav__contacts">
            <i class="fas fa-phone" aria-hidden="true"></i>
            <div class="nav__phone">
                <span class="phone-number"><a href="{% if phone is defined %}tel:{{ phone.value }}{% endif %}">{% if phone is defined %}{{ phone.title }}{% endif %}</a></span>
                <a class="phone-message" href="javascript:PopUpShow();">Заказать обратный звонок</a>
            </div>
        </div>
        <div class="nav__contacts trubka">
            <a href="tel:+78129159153"><span>
                            <i class="fas fa-phone" aria-hidden="true" style="font-size:40px"></i></span></a>
        </div>
    </div>
</div>