{% extends 'v2/base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('reviews') }}
{% endblock %}
{% block body %}
    {% embed 'v2/embed/content.html.twig' %}
        {% block content %}
            <h2>Отзывы о нашей работе</h2>
            {% for item in items %}
                <div class="review_item">
                    <div class="clr"></div>
                    <div uk-lightbox class="review_item__left_col">
                        <a href="{{ vich_uploader_asset(item,'imageFile') }}">
                            <img {{ lazy_load(asset(vich_uploader_asset(item,'imageFile'))) }} />
                        </a>
                    </div>
                    <div class="review_item__header">
                        <span class="review_item__date">{{ item.date|date("d.m.Y") }}</span>
                        <small>{{ item.autor }}</small>
                        <i class="review_item__ocenka">{{ stars(item.ocenka) }}</i>
                    </div>
                    <div class="review_item__text">
                        {{ item.text }}
                    </div>
                    <div class="link_go_full_faq">
                        <a href="{{ path('reviews_item',{'id': item.id}) }}">Читать полностью</a>
                    </div>
                    <div class="clr"></div>
                </div>

            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('reviews') }}
{% endblock %}
