{% extends 'v2/base.html.twig' %}

{% block header_line %}
    {{ include('v2/blocks/include/header.html.twig', {brands : brands ?? null, 'topMenu': topMenu, 'leftMenu': leftMenu}) }}
{% endblock %}

{% block header_banner %}

    {{ include('v2/blocks/section/hero.html.twig',{ 'customH1' : page.h1 }) }}
{% endblock %}

{% block breadcrumbs %}
    <section id="breadcrumbs" style="margin-top: 100px;">
        <div class="breadcrumbs_wrapper">
                <span class="navigation_item">
                    <a href="/">Главная</a>
                    <span>&#8646;</span>
                </span>
                    <span class="navigation_item">
                    <a href="/offers">Акции</a>
                    <span>&#8646;</span>
                </span>
            <span class="navigation_item">
                    <a href="#">{{ page.h1 }}</a>
                </span>


        </div>
    </section>
{% endblock %}

{% block body %}
    {{ include('elements/_content_offer.html.twig', {'page':page}) }}
    {{ special_offers(page.brandAndModelName) }}

{% endblock %}

