<section class="section b5" id="diagnos">
    <div class="container _mPS2id-t" id="raboti">
        <div class="section__title"><h2>Сервис
                {% if page.priceBrand is not null %}
                    {{ page.priceBrand.name }}
                        {% if page.priceModel is not null %}
                            {{ page.priceModel.name }}
                        {% endif %}
                {% endif %}
                (услуги):
            </h2></div>
        <div class="section__text">Мы оказываем полный спектр услуг по обслуживанию, ремонту, тюнингу автомобилей Mercedes.</div>
        <div class="row">
            {% for section in sections %}

                <div class="col-xs-6 col-md-2 center pad5 imgmodel" itemscope="" itemtype="http://schema.org/Product">
                <div class="caption thumbnail">
                    <a itemprop="url" href="/{{ section.slug }}">
                        <img itemprop="image" style="width: 60px; height: auto;" data-src="/images/category_images/{{ section.image }}" src="/images/category_images/{{ section.image }}" alt="{{ section.name }}" class=" lazyloaded">
                        <div itemprop="name" title="{{ section.name }}" style="margin-top: 5px; font-size: 16px; text-align: center;" class="h3"><span class="link">{{ section.name }}</span></div>
                    </a>
                </div>
                <meta itemprop="description" content="{{ section.name }}">
                <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" style="display:none">
                    <meta itemprop="priceCurrency" content="RUB">

                    <span itemprop="price">100</span>
                </div>

            </div>
            {% endfor %}

    </div>
    <a href="javascript:PopUp2Show()" class="btn btn_big popup-link _mPS2id-h mPS2id-highlight mPS2id-highlight-last"><span>Узнать цену</span></a>
    </div>
</section>