<section class="section b5" id="diagnos">
    <div class="container _mPS2id-t" id="raboti">
        <div class="section__title"><h2>{{ page.name }}
                {% if page.priceBrand is not null %}
                    {{ page.priceBrand.name }}
                        {% if page.priceModel is not null %}
                            {{ page.priceModel.name }}
                        {% endif %}
                {% endif %}
                (услуги):
            </h2></div>
        <div class="section__text">Мы оказываем полный спектр услуг по обслуживанию, ремонту, тюнингу автомобилей Mercedes.</div>
        <div class="row">
            {% for section in sections %}
                {% if section.priceServices is not empty %}
                    {% for service in section.priceServices|filter(service => service.published ) %}

                <div class="col-xs-6 col-md-2 center pad5 imgmodel" itemscope="" itemtype="http://schema.org/Product">
                <div class="caption thumbnail">
                    <a itemprop="url" {% if service.path is not null %} href="{{ service.path }}" {% else %} href="/{{ section.slug }}/{{ service.slug }}/"{% endif %}>
                        {#<img itemprop="image" style="width: 60px; height: auto;" data-src="/images/category_images/{{ service.image }}" src="/images/category_images/{{ service.image }}" alt="{{ service.name }}" class=" lazyloaded">#}
                        <div itemprop="name" title="{{ service.name }}" style="margin-top: 5px; font-size: 16px; text-align: center;" class="h3"><span class="link">{{ service.name }}</span></div>
                    </a>
                </div>
                <meta itemprop="description" content="{{ service.name }}">
                <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" style="display:none">
                    <meta itemprop="priceCurrency" content="RUB">

                    <span itemprop="price">100</span>
                </div>

            </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}

    </div>
    <a href="javascript:PopUp2Show()" class="btn btn_big popup-link _mPS2id-h mPS2id-highlight mPS2id-highlight-last"><span>Узнать цену</span></a>
    </div>
</section>
