{% if items|length >= 2 %}

    {% for row in items|batch(2) %}
        {% if loop.index%2 %}
            <section class="akcii_akcii">
            <div class="">
            <div class="row">
            {% for item in row %}
                {% if loop.index == 1 %}
                    <div class="col-md-6 text-right big_padding d-flex flex-column justify-content-between akcii_akcii-left">
                    <div class="akcii_content-wrapper">
                        <h3 class="akcii_services-heading">Акция
                            <br>{#<a href="/offers/{{ item.slug}}" class="link_heading">#}<span class="btn_small-text to-popup_header"> {{ item.name }}</span>{#</a>#}<br> <span class="akcii_akcii_subhead">{{ item.description}} </span></h3>

                        <h3 class="akcii_services-heading heading-dark">от {{ item.newPrice}} руб <br><span class="akcii_akcii_subhead">запчасти и работы</span>
                        </h3>
                        <img src="/img/turb_mobile.png" alt="" class="hidden-md">
                        <div class="btn_small-wrapper">
                            <a href="javascript:PopUp2Show()" class="btn_new-small popup-link _mPS2id-h mPS2id-highlight"><span class="btn_small-text">Записаться</span></a>

                        </div>
                    </div>

                </div>
                {% else %}
                    <div class="col-md-6 text_left big_padding d-flex flex-column justify-content-between akcii_akcii-right">
                    <img src="/img/mobilekey.jpg" alt="" class="hidden-md" style="width:100%">
                    <h3 class="akcii_services-heading heading_white">Акция
                        <br>{#<a href="/offers/{{ item.slug}}" class="link_heading" style="color:white;">#}<span style="color:white;" class="btn_small-text to-popup_header"> {{ item.name }}</span>{#</a>#}<br> <span class="akcii_akcii_subhead">{{ item.description }}</span></h3>


                    <h3 class="akcii_services-heading heading-yellow">от {{ item.newPrice}} руб <br><span class="akcii_akcii_subhead">запчасти и работы</span>
                    </h3>
                    <div class=" btn_small-right-wrapper">
                        <a href="javascript:PopUp2Show()" class="btn_small-right popup-link _mPS2id-h mPS2id-highlight"><span class="btn_small-text ">Записаться</span></a>

                    </div>
                </div>
                {% endif %}
            {% endfor %}
            </div>
            </div>
            </section>
        {% else %}
            <section class="akcii_akcii-2">
            <div class="">
            <div class="row">
            {% for item in row %}
                {% if loop.index == 1 %}
                    <div class="col-md-6 text-right big_padding d-flex flex-column justify-content-between akcii_akcii-2-left">
                <div class="akcii-2-column-wrapper">
                    {#<a href="/offers/{{ item.slug}}" class="link_heading">#}<h2 class="akcii_section-heading to-popup_header">{{ item.name|upper }}</h2>{#</a>#}
                    <h3 class="hidden-md mobile_sunheading">Акция на замену вихревых заслонок<br><span style="color:red;">15 550 </span>руб<br>запчасти и работы</h3>
                    <span class="akcii-2_subhead">
                            {{ item.description }}
                        </span>
                    <h3 class="akcii-2_subhead yellow-border pl20 hidden-sm">{{ item.newPrice}} рублей <br><span>запчасти и работы</span>
                    </h3>

                    <div class=" btn_small-right-wrapper">
                        <a href="javascript:PopUp2Show()" class="btn_small-right popup-link _mPS2id-h mPS2id-highlight"><span class="btn_small-text">Записаться</span></a>

                    </div>
                </div>
            </div>
            {% else %}
                <div class="col-md-6 text_left big_padding d-flex flex-column  justify-content-between akcii_akcii-2--right">
                {#<a href="/offers/{{ item.slug}}" class="link_heading">#} <h2 class="akcii_section-heading to-popup_header">{{ item.name }}</h2>{#</a>#}

                    <h3 class="akcii_services-heading">{{ item.description }}</h3>

                    <h3 class="akcii-2_subhead yellow-border pl20">{{ item.newPrice}} рублей <br><span>запчасти и работы</span> </h3>
                <div class=" btn_small-right-wrapper hidden-sm">

                    <a href="javascript:PopUp2Show()" class="btn_small-right popup-link _mPS2id-h mPS2id-highlight mPS2id-highlight-last"><span class="btn_small-text">Записаться</span></a>

                </div>
            </div>
                {% endif %}

                {% endfor %}
            </div>
            </div>
            </section>
        {% endif %}


    {% endfor %}

{% endif %}
