{% extends 'v2/base.html.twig' %}


{% block body %}
    <div class="container container2">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-12">
                <h1 class="title">{{ page.name }}</h1>
                    <div class="col2 catalog-v2">
                        {{ page.text|raw }}
                    </div>
            </div>
        </div>
    </div>
    {{ special_offers(page.brandAndModelName) }}
    {{ include('elements/_advantages.html.twig') }}

    {{ include('v2/blocks/section/auto-brands.html.twig') }}

{% endblock %}