<div class="section-works">
    <div class="uk-section-large uk-container">
        <div class="uk-position-relative">
            <h3 class="section-title"><span>Наши работы</span></h3>
            <div class="works-block">
                <div class="works-block__before"><img data-src="/assets/images/before.jpg" alt="до" uk-img /><span>до</span></div>
                <div class="works-block__after"><img data-src="/assets/images/after.jpg" alt="после" uk-img /><span>после</span></div>
            </div>
            <div class="works-slider uk-margin-top uk-position-relative">
                <div tabindex="-1" data-uk-slider="">
                    <ul class="uk-slider-items uk-grid uk-grid-small uk-child-width-1-5@l uk-child-width-1-3@m uk-child-width-1-2">
                        <li><img class="uk-width-1-1" {{ lazy_load(asset('/assets/images/work-thumb.jpg')) }} alt="work-thumb" /></li>
                        <li><img class="uk-width-1-1" {{ lazy_load(asset('/assets/images/work-thumb.jpg')) }} alt="work-thumb" /></li>
                        <li><img class="uk-width-1-1" {{ lazy_load(asset('/assets/images/work-thumb.jpg')) }} alt="work-thumb" /></li>
                        <li><img class="uk-width-1-1" {{ lazy_load(asset('/assets/images/work-thumb.jpg')) }} alt="work-thumb" /></li>
                        <li><img class="uk-width-1-1" {{ lazy_load(asset('/assets/images/work-thumb.jpg')) }} alt="work-thumb" /></li>
                        <li><img class="uk-width-1-1" {{ lazy_load(asset('/assets/images/work-thumb.jpg')) }} alt="work-thumb" /></li>
                        <li><img class="uk-width-1-1" {{ lazy_load(asset('/assets/images/work-thumb.jpg')) }} alt="work-thumb" /></li>
                        <li><img class="uk-width-1-1" {{ lazy_load(asset('/assets/images/work-thumb.jpg')) }} alt="work-thumb" /></li>
                        <li><img class="uk-width-1-1" {{ lazy_load(asset('/assets/images/work-thumb.jpg')) }} alt="work-thumb" /></li>
                        <li><img class="uk-width-1-1" {{ lazy_load(asset('/assets/images/work-thumb.jpg')) }} alt="work-thumb" /></li>
                    </ul><a class="uk-position-center-left" href="#" data-uk-slidenav-previous="" data-uk-slider-item="previous"></a><a class="uk-position-center-right" href="#" data-uk-slidenav-next="" data-uk-slider-item="next"></a></div>
            </div>
        </div>
    </div>
</div>