<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app2') }}
    {% endblock %}
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.png">
</head>
<body>
{{ include('v2/scripts/_liveinternet.html.twig') }}
{{ include('v2/blocks/include/header.html.twig') }}
{{ include('v2/blocks/section/hero.html.twig',{ h1 : block('title') }) }}
<div class="section-content">
    <div class="uk-container">
        <div class="content-box">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>

{{ include('v2/blocks/include/footer.html.twig') }}

{{ include('v2/blocks/section/callback-popup.html.twig') }}
{% block javascripts %}
    {{ encore_entry_script_tags('app2') }}
{% endblock %}
</body>
</html>
