<section id="diagnostics" class="diagnostics-section">
    <div class="diagnostics-section__inner">
        <div class="section__heading">
            <h2 class="section__h2">Диагностика {% if brandName is defined %}{{ brandName }}{% else %}авто{% endif %}</h2>
            <ul class="diagnostics__ul">
                <li><i class="fusion-li-icon fa fa-exclamation-triangle" style="color:#ffffff;"></i>Не четко включается передача;</li>
                <li><i class="fusion-li-icon fa fa-exclamation-triangle" style="color:#ffffff;"></i>Толчки при переключении;</li>
                <li><i class="fusion-li-icon fa fa-exclamation-triangle" style="color:#ffffff;"></i>Посторонние шумы, скрежет, щелчки;</li>
            </ul>
            <p class="section__heading-text">Любой из этих симптомов – повод обратиться в сервис Мерседес для первичной диагностики и выявления неисправности. Чем раньше Вы обратитесь, тем меньше вероятность серьезного ремонта коробки передач</p>
        </div>

        <div class="diagnostics">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-md-3">
                        <div class="diagnostics__item">
                            <div class="diagnostics__img">
                                <img loading="lazy" src="{{ asset('img/diagnostica/1.jpg') }}" alt="">
                            </div>
                            <h5><a href="/mersedes-e200-w212-diagnostika-akpp/"> Мерседес Е200 W212 Диагностика АКПП</a></h5>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="diagnostics__item">
                            <div class="diagnostics__img">
                                <img loading="lazy" src="{{ asset('img/diagnostica/2.jpg') }}" alt="">
                            </div>
                            <h5><a href="/mersedes-w211-remont-akpp/"> Мерседес W211 Ремонт АКПП</a></h5>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="diagnostics__item">
                            <div class="diagnostics__img">
                                <img loading="lazy" src="{{ asset('img/diagnostica/3.jpg') }}" alt="Диагностика Лексус Nx200">
                            </div>
                            <h5><a href="/mersedes-w210-diagnostika-akpp/"> Мерседес W210 Диагностика АКПП</a></h5>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="diagnostics__item">
                            <div class="diagnostics__img">
                                <img loading="lazy" src="{{ asset('img/diagnostica/4.jpg')}}" alt="">
                            </div>
                            <h5><a href="/mersedes-w204-diagnostika-akpp/"> Мерседес W204 Диагностика АКПП</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span class="link_to_blog__wrapper" ><i class="fa fa-share"></i> <a href="/blog/" class="link_to_service link_to_blog" style="padding-top: 12px; padding-bottom: 12px; border-radius: 5px">Посмотреть все отчеты</a></span>

        <div class="section__heading">
            <p class="section__heading-text">
                Наши мастера проводят диагностику и ремонт с использованием программного обеспечения и инструментов,
                <br>одобренных изготовителем.
                <br>Мы всегда стараемся отремонтировать неисправный элемент, прежде чем менять его на новый.
            </p><br><br>

        </div>

        <a class="button" href="#FBForm2">Записаться на диагностику</a>
    </div>

</section>