{% if text is not null or text2 is not null %}
    <div class="content-down__wrapper
    {% if bg is not null %}
     content-down__bg
    {% endif %}"
            {% if bg is not null %}
                style="background: url(/images/page-images/{{ bg }});"
            {% endif %}
    >
        <div class="container-fluid container2">
            <div class="row text-down__wrapper right-side-img">
                <div class="col-md-6 col-12">
                    <div class="text-down__text"> {{ text|raw }}</div>
                </div>
                <div class="col-md-6 text-down__image {% if img is null %} d-none {% endif %}"
                {% if img is not null %}
                    style="background: url(/images/page-images/{{ img }});"
                {% endif %}
                >
                </div>
            </div>

            {% if text2 is not null %}
            <div class="row text-down__wrapper left-side-img">
                <div class="col-md-6 text-down__image {% if img2 is null %} d-none {% endif %}"
                    {% if img2 is not null %}
                        style="background: url(/images/page-images/{{ img2 }});"
                {% endif %}
                >
                </div>
                <div class="col-md-6 col-12">
                    <div class="text-down__text"> {{ text2|raw }}</div>
                </div>
                </div>
            {% endif %}

            {% if text3 is not null %}
                <div class="row text-down__wrapper">

                    <div class="col-md-6 col-12">
                        <div class="text-down__text"> {{ text3|raw }}</div>
                    </div>
                    <div class="col-md-6 text-down__image {% if img3 is null %} d-none {% endif %}"
                            {% if img3 is not null %}
                                style="background: url(/images/page-images/{{ img3 }});"
                            {% endif %}
                    >
                    </div>
                </div>
            {% endif %}

            {% if text4 is not null %}
                <div class="row text-down__wrapper">
                    <div class="col-md-6 text-down__image {% if img4 is null %} d-none {% endif %}"
                            {% if img4 is not null %}
                                style="background: url(/images/page-images/{{ img4 }});"
                            {% endif %}
                    >
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="text-down__text"> {{ text4|raw }}</div>
                    </div>
                </div>
            {% endif %}


            </div>
        </div>
    </div>
{% endif %}