<section class="ourWorks__modelPage">
    {# Выводим блок ТО #}
    {% if pageWorkTo is defined and pageWorkTo is not empty %}
        {% for key, work in pageWorkTo %}
        <div class="ourWorks__block ourWorks__block_to">
            <h3>{{ key }} Мерседес {{ modelName }}</h3>
            <div class="ourWorks__block_text">
            <p>Своевременное прохождение технического обслуживания Мерседес {{ modelName }} необходимо для стабильной работы и увеличения работоспособности всех узлов и агрегатов. Замена масла двигателя и фильтров входят в каждое плановое ТО Мерседес {{ modelName }}.</p>
            </div>
            <div class="ourWorks__block_items">
                {% for item in work %}
                    <div class="ourWorks__block_item">
                        <img width="242" height="161" src="/img/nashiraboty_small/{{ item.blogImg }}" class="" alt="{{ item.name }}" title="{{ item.name }}" draggable="false">
                        <a href="/{{ item.url }}">{{ item.name }}</a>
                    </div>
                {% endfor %}
            </div>
            {% if worksServices is defined and worksServices[key] is defined %}
                <a href="/{{ worksServices[key] }}/" class="link_to_service">{{ key|upper }} МЕРСЕДЕС</a>
            {% endif %}
        </div>
        {% endfor %}
    {% endif %}

{# Выводим остальные блоки #}
    {% if pageWork is defined and pageWork is not empty %}

        {% for row in pageWork|batch(2) %}
            <div class="ourWorks__block">
                {% for key, work in row %}
                    <div class="ourWorks__block_items_wrapper">

                        <h3>{{ key }} Мерседес {{ modelName }}</h3>
                        <div class="ourWorks__block_text">
                        {% set service = key %}
                        {% if service == 'Ремонт подвески' %}

                            <p>Подвеска Мерседес {{ modelName }} достаточно технологична и надежна. Мы производим полный спектр работ по ходовой части мерседес – от диагностики, до полной переборки. От замены сальников и рычагов, до ремонта и замены пневмоподвески.</p>
                        {% elseif service == 'Ремонт АКПП' %}
                            <p>Наши эксперты имеют высокий уровень знаний по ремонту, обслуживанию и замене АКПП Мерседес {{ modelName }}. Мы решали самые сложные задачи по ремонту АКПП. Своевременное обнаружение неисправности позволит сэкономить бюджет и продлит срок службы АКПП.
                            </p>
                        {% elseif service == 'Диагностика' %}
                            <p>Для диагностики Мерседес {{ modelName }} мы используемся современные дилерские сканеры. Правильно выявленная проблема поможет избежать лишних работ и серьезно сэкономит время и деньги. Наш диагносты имеют многолетний опыт работы с Мерседес.</p>
                        {% elseif service == 'Ремонт двигателя' %}
                            <p>В штате опытные мотористы с опытом переборки моторов почти всего модельного ряда Мерседес. В отличии от дилера, ремонт двигателя Мерседес {{ modelName }} проводится постоянно, что дает практику нашим специалистам и ускоряет работу.</p>
                        {% else %}

                        {% endif %}
                        </div>
                        <div class="ourWorks__block_items">
                        {% for item in work %}
                            <div class="ourWorks__block_item">
                                <img width="242" height="161" src="/img/nashiraboty_small/{{ item.blogImg }}" class="" alt="{{ item.name }}" title="{{ item.name }}" draggable="false">
                            <a href="/{{ item.url }}">{{ item.name }}</a>
                            </div>
                            {% endfor %}
                        </div>
                        {% if worksServices is defined and worksServices[key] is defined %}
                            <a href="/{{ worksServices[key] }}/" class="link_to_service">{{ key|upper }} МЕРСЕДЕС</a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

        {% endfor %}
    {% endif %}
</section>
