{% if pageWork is defined and pageWork is not empty %}
<section class="work-examples__section">

    <!-- example.phtml -->
    <div class="rey_box">	<div class="rey_examples_box">
            <div class="rey_bg_dark rey_examples_box_left">
                <div class="rey_text_white rey_title_stantart">
                    ПРИМЕРЫ НАШИХ РАБОТ
                </div>
                {% if pageWork.model is not empty%}
                <div class="rey_text_red rey_examples_title_audi">
                    <b>{{ pageWork.model|upper }}</b>
                </div>
                {% endif %}
                <div class="rey_examples_box_img">
                    {% if pageWork.model is not null and pageWork.model.photoBig is not null and pageWork.model.photoBig is not empty %}
                        <img src="/img/models/big/{{ pageWork.model.photoBig }}" width="100%">
                    {% elseif pageWork.model is not null and pageWork.model.priceBrand.photoBig is not null and pageWork.model.priceBrand.photoBig is not empty %}
                        <img src="/img/brands/big/{{ pageWork.model.priceBrand.photoBig }}" width="100%">
                    {% elseif pageWork.mainImg is not null and pageWork.mainImg is not empty %}
                        <img src="/img/nashiraboty_main/{{ pageWork.mainImg }}" width="100%">
                    {% else %}
                        <img src="/img/merc/merc-main.png" width="100%">
                    {% endif %}
                    {#{% if pageWork.mainImg is defined and pageWork.mainImg is not null %}
                        <img src="/img/nashiraboty_main/{{ pageWork.mainImg }}" width="100%">
                    {% else %}
                        <img src="/img/merc/merc-main.png" width="100%">
                    {% endif %}#}
                </div>
            </div>
            <div class="rey_bg_grey_light rey_examples_box_right">
                <div class="rey_title_stantart">
                    {{ pageWork.name }}			</div>
                <div class="rey_text_standart_small rey_text_dark">
                    <div>{{ pageWork.model }}</div>
                    {% if pageWork.kuzov is not null %}
                        <div>Кузов: {{ pageWork.kuzov }}</div>
                    {% endif %}
                    {% if pageWork.year is not null %}
                        <div>Год: {{ pageWork.year }}</div>
                    {% endif %}
                </div>
                <div class="rey_text_standart rey_examples_listing">
                    {{ pageWork.shortText|raw }}</div>
                <div class="rey_text_black rey_text_standart" style="text-align:right">
                    <span class="rey_text_red">Это важно:</span> Практически при любом визите на сервис мы осматриваем подвеску автомобиля.
                </div>
                <div class="rey_examples_box_right_button" style="line-height:7em;text-align:right">
                    <a class="rey_button_standart" href="/{{ pageWork.url }}">ОТЧЕТ&nbsp;О&nbsp;ПРОЦЕССЕ&nbsp;РЕМОНТА</a>
                </div>
            </div>
        </div>	</div>
    <!-- example.phtml END -->

</section>
{% endif %}