{% extends 'v2/base.html.twig' %}


{% block canonical %}{{ app.request.schemeAndHttpHost~'/videoblog' }}{% endblock %}

{% block header_line %}
    {{ include('v2/blocks/include/header.html.twig', {brands : brands ?? null, 'topMenu': topMenu, 'leftMenu': leftMenu}) }}
{% endblock %}
{% block header_banner %}
    {{ include('v2/blocks/section/hero.html.twig',{ 'customH1' : page.h1 }) }}
{% endblock %}

{% block body %}
    {% block breadcrumbs %}
    {% endblock %}
<section class="videoblog__page">
    <div class="container">
        <div class="videoblog__page_video">
            <iframe width="90%" src="{{ page.link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="videoblog__page_text">
            {{ page.text|raw }}
        </div>
    </div>
</section>
{% endblock %}